<div>
  {{userId}}
  <button id = "start">Start</button>
  <button id = "stop">Stop</button>
  <a href = "/history" class = "right"><button>History</button></a>
  <div id = "info">
    <ul id = "breachInfo">
    </ul>
  </div>
  <div id = "hr">Heart Rate: BPM </div>
  <div id = "calories">Calories: calories </div>
  <div id = "steps"> Steps: steps </div>
</div>
